.App {
  text-align: center;
  background: #fafafa; /*light-grey*/
}

.App-header {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid grey;
  height: 90px;
  color: white;
}

.brand-name {
  padding-left: 30px;
}

nav{
  position: absolute;
  right: 0;
  margin-right: 30px;
}

li {
  text-decoration: none !important;
  display: inline-block;
  padding: 15px;
}

.link {
  text-decoration: none;
  color: black;
}

.nav-item{
  padding: 35px 15px 35px 15px;
  transition: background-color .5s;
  font-weight: bold;
}

.nav-item:hover {
  background-color: #e0e0e0; /*grey*/
  color: white;
  border-bottom: 2px solid black;
}

.count {
  border-radius: 100%;
  background: lightgrey;
  width: 5px;
  height: 5px;
  color: black;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 20px;
}

.App-intro {
  font-size: large;
}


#header-home {
  color: white;
  float: right;
  margin-top: 1em;
  margin-right: 20%;
}

/*HOME COMPONENT*/

#candle-home{
  background-image: url("/images/candle.jpg");
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 500px;
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
}

.candle-container {
  margin: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.candle-item {
  margin: 10px;
  width: 20%;
  box-shadow: 0px 0px 5px #e0e0e0;
  background: white;
  transition: box-shadow .25s;
  min-width: 300px;
}

.candle-item:hover {
  box-shadow: 0px 0px 12px #9e9e9e; /*materialize grey*/
  background: white;
}

.candle-image {
  min-width: 100%;
}

.add-button {
  width: 66%;
  height: 40px;
  background-color: #c62828; /*red-darken-3*/
  transition: background-color .25s;
  margin-bottom: 2em;
  border: none;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
}
.add-button:hover {
  background-color: #ef5350; /*red-ligthen-1*/
}

