html, body {
  background: #fafafa;
}

body {
  height: 100%;
}

.App {
  margin-top: 76px;
  text-align: center;
  background: #fafafa; /*light-grey*/
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 8px #9e9e9e;
  height: 75px;
  color: white;
}

.brand-name {
  padding-left: 30px;
}

nav{
  position: absolute;
  right: 0;
  margin-right: 30px;
}

li {
  text-decoration: none !important;
  display: inline-block;
  padding: 15px;
}

.link {
  text-decoration: none;
  color: black;
}

.nav-item{
  padding: 29px 15px 27px 15px;
  transition: all .5s;
  font-weight: bold;
}

.nav-item:hover {
  background-color: #e0e0e0; /*grey*/
  color: white;
  border-bottom: 2px solid #2196f3; /*materialize blue*/
}

.count {
  border-radius: 100%;
  background: lightgrey;
  width: 5px;
  height: 5px;
  color: black;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 20px;
  margin: auto;
}


@keyframes font-size {
  from {font-size: 0px;}
  to {font-size: 16px;}
}

.App-intro {
  font-size: large;
}


#header-home {
  color: white;
  float: right;
  margin-top: 1em;
  margin-right: 20%;
}

/*HOME COMPONENT*/

#candle-home{
  background-image: url("/images/candle.jpg");
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 500px;
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
}

.candle-container {
  margin: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.candle-item {
  margin: 10px;
  box-shadow: 0px 0px 5px #e0e0e0;
  background: white;
  transition: box-shadow .25s;
  min-width: 275px;
}

.candle-item:hover {
  box-shadow: 0px 0px 12px #607d8b; /*materialize blue-grey*/
  background: white;
}

.candle-image {
  min-width: 100%;
}

.add-button {
  width: 66%;
  height: 40px;
  background-color: #c62828; /*red-darken-3*/
  transition: background-color .25s;
  margin-bottom: 2em;
  border: none;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
}
.add-button:hover {
  background-color: #ef5350; /*red-ligthen-1*/
}

.no-candles {
  margin-top: 100px;
}

/*CART*/

#to-checkout {
  margin-top: 15px;
  border: none;
  width: 10em;
  height: 3em;
  text-decoration: none;
  font-size: 1em;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  transition: all .5s;
}

#to-checkout:hover {
  background-color: #64b5f6; /*materialize light-blue*/
}

.cart-item {
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 0px 0px 3px #607d8b;
}

.cart-image {
  margin: 5px 0px 0px 5px;
  width: 100px;
  height: 100px;
}

.cart-container {
  margin-left: 20px;
  text-align: left;
  flex-flow: column wrap;
}

.cart-name {
  font-size: 1.2em;
  margin-top: 3px;
}

.quant-cont {
  display:flex;
  flex-flow: row wrap;
  margin: auto;
}
.quantity {
  padding: 5px;
  text-align: right;
}

.quant-input {
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 1.1em;
  border: 2px solid #607d8b;
  padding-left: .75em;
}

.x-button {
  cursor: pointer;
  padding-right: 5px;
  margin-top: 5px;
  transition: font-size .25s;
  align-self: right;
  height: 20px;
}
.x-button:hover {
  font-size: 18px;
}

/*SHIPPING*/

.shipping-form-container {
  width: 66%;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 3px #607d8b;
  margin-top: 95px;
  margin-bottom: 15px;
  padding-bottom: 5em;
}

.shipping-form-container h3 {
  padding-top: 15px;
}

.shipping-form, .billing-form {
  display: flex;
  flex-flow: column wrap;
}

.shipping-form p {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2px;
}

.shipping-form p label {
  border-left: 2px solid #2196f3;
}

.shipping-form p input {
  height: 2.5em;
  border: none;
  border-bottom: 1px solid black;
  border-left: 2px solid #2196f3;
  width: 100%;
  transition: all .25s;
}

.shipping-form p input:focus {
  outline: none;
  border-bottom: 3px solid #2196f3;
  border-left: 3px solid #2196f3;
}

.ship-button {
  margin-top: 15px;
  border: none;
  max-width: 10rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  transition: all .5s;
}

.ship-buton:hover {
  background-color: #64b5f6; /*materialize light-blue*/
}

#to-bill-cont {
float: left;
}

.to-billing {
  margin-top: 15px;
  border: none;
  max-width: 10rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  transition: all .5s;
}

.to-billing:hover {
  background-color: #64b5f6; /*materialize light-blue*/
}

/*REVIEW*/
.review-container {
  margin-top: 7rem;
}

