html, body {
  background: #fafafa;
}

body {
  height: 100%;
}

.App {
  margin-top: 76px;
  text-align: center;
  background: #fafafa; /*light-grey*/
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 8px #9e9e9e;
  height: 75px;
  color: white;
}

.brand-name {
  font-family: 'Dosis', sans-serif;
  padding-left: 30px;
}

nav{
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0;
  margin-right: 30px;
  min-width: 200px;
}

li {
  text-decoration: none !important;
  display: inline-block;
  /*padding: 15px;*/
}

.link {
  text-decoration: none;
  color: black;
  padding-right: 15px;
}

.nav-item{
  padding: 33px 15px 23px 15px;
  transition: all .5s;
  font-weight: bold;
  line-height: 3rem;
  margin-right: 15px;
}

.nav-cart{
  transition: all .5s;
  font-size: 40px;
  padding: 28px 15px 18px 15px;
  margin: auto;
}

.nav-item:hover {
  background-color: #e0e0e0; /*grey*/
  color: white;
  border-bottom: 2px solid #2196f3; /*materialize blue*/
}

.cart-img {
  width: 40px;
  transition: all .5s;
  padding: -1px 15px 18px 15px;
  margin-bottom: -10px;
  margin-right: 10px;
}
.cart-img:hover {
  width: 43px;
  margin-left: -3px;
  margin-bottom: -15px;
}

.count-cont {
  border-radius: 15%;
  /*background: lightgrey;*/
  border: 2px solid #2196f3;
  width: 2rem;
  height: 1rem;
  color: black;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 7px;
  margin: auto;
}

.count-enter {
  transition: all 0.5s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
.count-enter, .count-enter-active {
  -webkit-transform: translateY(0);
  transform: translateY(0%);
  opacity: 1;
}
.count-leave {
  transition: all 0.5s;
  position: absolute;
  right: 5.5%;
  transform: translateY(0%);
  opacity:1;
}
.count-leave, .count-leave-active {
  opacity: 0;
  transform: translateY(-70%);
}

@keyframes font-size {
  from {font-size: 0px;}
  to {font-size: 16px;}
}

.App-intro {
  font-size: large;
}


#header-home {
  color: white;
  background: rgba(0,0,0,.1);
  border-radius: 20%;
  float: right;
  margin-top: 2em;
  margin-right: 20%;
  font-family: 'Petit Formal Script', cursive;
  font-size: 3rem;
}

.header-home-appear{
  opacity: 0.01;
}
.header-home-appear.header-home-appear-active{
  opacity: 1;
  transition: all 1s ease-in;
}
/*HOME COMPONENT*/

#candle-home{
  background-image: url("/images/candles/candle.png");
  box-shadow: 0px 0px 20vh #2196f3 inset;
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 70vh;
  min-height: 50vh;
  background-repeat:no-repeat;
  background-size: cover;
}

.candle-container {
  margin: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.candle-item {
  margin: 10px;
  box-shadow: 0px 0px 5px #e0e0e0;
  background: white;
  transition: box-shadow .25s;
  min-width: 275px;
}

.candle-item:hover {
  box-shadow: 0px 0px 12px #607d8b; /*materialize blue-grey*/
  background: white;
}

.candle-image {
  min-width: 100%;
  max-width: 250px;
}
.success-image {
  min-width: 50%;
  max-width: 250px;
  padding: 25%;
}

/*.success-image-enter {
  transition: all .5s ease-in;
  opacity: 0.01;
}

.success-image-enter.success-image-enter-active{
  opacity: 1;
  transition: opacity .5s ease-in ;
}*/

.add-button {
  width: 66%;
  height: 40px;
  background-color: #c62828; /*red-darken-3*/
  transition: background-color .25s;
  margin-bottom: 2em;
  border: none;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
}
.add-button:hover {
  background-color: #ef5350; /*red-ligthen-1*/
}

.no-candles {
  margin-top: 100px;
}

/*CART*/

#to-checkout {
  margin-top: 15px;
  border: none;
  width: 10em;
  height: 3em;
  text-decoration: none;
  font-size: 1em;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  transition: all .5s;
}

#to-checkout:hover {
  background-color: #64b5f6; /*materialize light-blue*/
}

.cart-item {
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 0px 0px 3px #607d8b;
}

.cart-image {
  margin: 5px;
  width: 100px;
  height: 100px;
}

.cart-container {
  margin-left: 20px;
  text-align: left;
  flex-flow: column wrap;
}

.cart-name {
  font-size: 1.2em;
  margin-top: 3px;
}

.quant-cont {
  display:flex;
  flex-flow: row wrap;
  margin: auto;
}
.quantity {
  padding: 5px;
  text-align: right;
}

.quant-input {
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 1.1em;
  border: 2px solid #607d8b;
  padding-left: .75em;
}

.x-button {
  cursor: pointer;
  padding-right: 5px;
  margin-top: 5px;
  transition: font-size .25s;
  align-self: right;
  height: 20px;
}
.x-button:hover {
  font-size: 18px;
}

/*SHIPPING*/

.shipping-form-container {
  width: 66%;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 3px #607d8b;
  margin-top: 95px;
  margin-bottom: 15px;
  padding-bottom: 5em;
}

.shipping-form-container h3 {
  padding-top: 15px;
}

.shipping-form, .billing-form {
  display: flex;
  flex-flow: column wrap;
}

.shipping-form p {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2px;
}

.shipping-form p label {
  border-left: 2px solid #2196f3;
}

.shipping-form p input {
  height: 2.5em;
  border: none;
  border-bottom: 1px solid black;
  border-left: 2px solid #2196f3;
  width: 100%;
  transition: all .25s;
}

.shipping-form p input:focus {
  outline: none;
  border-bottom: 3px solid #2196f3;
  border-left: 3px solid #2196f3;
}

.ship-button {
  margin-top: 15px;
  border: none;
  max-width: 10rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  transition: all .5s;
}

.ship-buton:hover {
  background-color: #64b5f6; /*materialize light-blue*/
}

#to-bill-cont {
float: left;
}

.to-billing {
  margin-top: 15px;
  border: none;
  max-width: 10rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  transition: all .5s;
}

.to-billing:hover {
  background-color: #64b5f6; /*materialize light-blue*/
}

/*REVIEW*/
.review-container {
  margin-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 0px 3px #607d8b;
}

.address-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 500px;
  min-width: 300px;
}

.review-address {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.review-item h4, p {
  margin: 2px;
}

.review-cart-cont {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.review-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  margin: 10px;
}

.moneys{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-width: 8rem;
}

.money {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.take-money{
  margin-top: 15px;
}

/*REVIEW ITEMS IMAGES*/
.rev-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 2rem;
}

.rev-img p {
  max-width: 5rem;
  width: 5rem;
  height: 4px;
  margin-top: 1rem;
  border-bottom: 2px solid #2196f3;
  background-color: black;
}

.delivery {
  width: 40px;
  height: 40px;
}
.delivery-bold {
  width: 40px;
  height: 40px;
  border: 5px solid #2196f3;
  box-shadow: 0px 0px 2px #607d8b;
}
.address {
  width: 40px;
  height: 40px;
}
.address-bold {
  width: 40px;
  height: 40px;
  border: 5px solid #2196f3;
  box-shadow: 0px 0px 2px #607d8b;
}
.credit{
  width: 40px;
  height: 40px;
}
.credit-bold {
  width: 40px;
  height: 40px;
  border: 5px solid #2196f3;
  box-shadow: 0px 0px 2px #607d8b;
}

/*fonts*/
/*font-family: 'Dosis', sans-serif;
font-family: 'Petit Formal Script', cursive;*/
